---
import Button from '../components/Button.astro';
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';
import Nav from '../components/Nav.astro';
import RedLayout from '../layouts/RedLayout.astro';

// frontmater:: server side code

interface User {
  name: string;
}

const user: User = {
  name: 'Romel',
};

const data = {
  title: 'My Posts',
  description: 'Change your acts',
  number: 2,
  isDraft: false,
  favorites: ['node', 'golang', 'java', 'rust'],
};

type Todo = {
  userId: number;
  id: number;
  title: string;
  body: string;
};

const res = await fetch('https://jsonplaceholder.typicode.com/posts?_limit=5');
const async_data: Todo[] = await res.json();
---


<RedLayout title="home">
  <div slot="sidebar">

    <Nav />

  </div>

  <div slot="main">
    <h1>Astro</h1>
    <h2>My name is: {user.name}</h2>
    <h1>{data.title}</h1>
    <h3>Favorites</h3>

    <div>
      <ul>
        {data.favorites.map((fav) => <li>{fav}</li>)}
      </ul>
    </div>

    <h3>Async</h3>

    <div>
      <ul>
        {
          async_data.map((todo) => (
            <div>
              <h5>
                <b>{todo.id}</b> - {todo.title}
              </h5>
              <p>{todo.body}</p>
            </div>
          ))
        }
      </ul>
    </div>

    <h3>Components</h3>

    <div>
      <Button classes="primary" variety="icon" >click me</Botton>

      <Heading tagName='h1' size='h4'>
        Sub title  
      </Heading>
    </div>


  </div>
</RedLayout>